.contact {
    background: #F0ECE3;
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    display: inline-block;
}

.contact_container {
    position: absolute;
    width: 80vw;
    height: 80vh;
    background: #272528;
    border-radius: 8px;
    display: flex;
    color: #F0ECE3;
    justify-content: space-around;
    flex-direction: row;
    transform: translate(11.7%, 12%);
}

.first_text_contact {
    padding-top: 3vw;
    font-size: 2vw;
}

.button_contact_me {
    margin-left: 7vh;
    margin-top: 2vw;
    font-size: 3vw;
    animation: animationButton 2s infinite;
    background: black;
    border: none;
    border-radius: 0.4rem;
}

.button_contact_me:hover {
    animation: none;
    background: #F0ECE3;
    transform: scale(1.05);
    display: inline-block;
    box-shadow: 8px 8px 8px black;
}

.text_button:hover {
    color: black;
}

.text_button {
    text-decoration: none;
    color: #F0ECE3;
}

.third_text_contact {
    margin-top: 10rem;
    font-size: 9vw;
    font-weight: bold;
    background-color: #F0ECE3;
    color: #272528;
}

.me_img {
    align-self: center;
    width: 30vw;
    border-radius: 8px;
    height: auto;
}

/* Mobile Phones */
@media screen and (max-width: 767px) {
    .contact_container {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .first_text_contact {
        padding-top: 0;
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    .button_contact_me {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 0;
        margin-bottom: 2rem;
        font-size: 1.3rem;
    }

    .third_text_contact {
        margin-top: 0;
        font-size: 3rem;
    }

    .me_img {
        width: 75vw;
        height: auto;
    }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1020px) {
    .contact_container {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .first_text_contact {
        padding-top: 0;
        padding-left: 7%;
    }

    .button_contact_me {
        margin-left: 26%;

    }

    .third_text_contact {
        margin-top: 0;
        border-radius: 10px;
        border: none;
    }

    .me_img {
        width: 25%;
    }
}